.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 32px;
    z-index: 1;
    padding: 7px;
    justify-content: space-between;
    display: flex;

    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__black {
    background-color: #111;
}

.nav__logo {
    position: fixed;
    width: 99px;
    left: 5;
    object-fit: contain;
}

.nav__avatar {
    position: fixed;
    right: 10px;
    width: 35px;
    object-fit: contain;
}

.jay {
    margin-left: 560px;
}

.jay_visible {
    color: rgb(173, 32, 32);
}